body {
  font-family: 'Roboto', sans-serif;
}

p {
  width: 320px;
  line-height: 22.5px;
  text-align: justify;
  text-justify: inter-word;
}

a {
  width: 320px;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

div::-webkit-scrollbar {
  width: 320px;
  height: 0px;
  display: none;
}

#navigationController {
  width: 320px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navigationTitle {
  width: 320px;
  font-size: 25px;
  line-height: 22.5px;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}
